html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: white;
  color: #475467;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.header {
  position: fixed;
}

.container {
  display: grid;
  align-items: center;
  max-width: 90rem;
  margin: 0 auto;
  min-height: 5rem;
  border: solid 0.0625rem #F2F4F7;
  padding: 0 7rem;
}

.burger-label::after, .burger-label::before, .burger-label span {
  display: none;
}

#burger-toggle {
  display: none;
}

.burger-label {
  position: relative;
  display: block;
  height: 0.75rem;
  width: 1.125rem;
}

.burger-label::after, .burger-label::before, .burger-label span {
  position: absolute;
  width: 100%;
  height: 0.125rem;
  background-color: #344054;
  transition: 0.3s;
}

.burger-label::before {
  content: "";
  top: 0;
}

.burger-label::after {
  content: "";
  bottom: 0;
}

.burger-label span {
  top: 0.3125rem;
}

#burger-toggle:checked ~ .burger-label::after {
  transform: rotate(45deg);
  bottom: 0.3125rem;
}

#burger-toggle:checked ~ .burger-label::before {
  transform: rotate(-45deg);
  top: 0.3125rem;
}

#burger-toggle:checked ~ .burger-label span {
  transform: rotate(-45deg);
  top: 0.3125rem;
}

.header__inner {
  display: grid;
  grid-template-columns: repeat(4, auto max-content);
  column-gap: 2.5rem;
}

.slogan__header {
  display: grid;
  align-items: center;
  justify-items: center;
}

.slogan__header span {
  position: relative;
  display: block;
  font-size: 0.6875rem;
  text-transform: uppercase;
  width: 3.0625rem;
  height: 1.5rem;
  left: 2.1875rem;
}

.slogan__header span::before {
  position: absolute;
  content: "";
  left: -1.875rem;
  height: 1.3125rem;
  width: 1.5625rem;
  top: 0.125rem;
  background-image: url("../images/header-heart.svg");
}

.menu__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 32px;
}

.burger-label,
.user__actions {
  float: right;
}

.menu__list li,
.user__actions li {
  display: inline;
}

.menu__list-mobile {
  display: none;
}

.menu__list > li:hover .sub-menu__list {
  display: block;
}

.sub-menu__list {
  position: absolute;
  padding: 2rem 1.25rem 1.25rem 4.5rem;
  top: 3.25rem;
  min-width: 21rem;
  border-radius: remy(6);
  box-shadow: 0 0.25rem 0.375rem rgba(16, 24, 40, 0.031372549);
  border: solid 0.0625rem #EAECF0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none;
}

.sub-menu__list-products {
  display: grid;
  column-gap: 0.5rem;
  width: 20rem;
  height: 31.25rem;
  padding: 2rem 1.25rem 1.5rem 1.25rem;
  display: none;
}
.sub-menu__list-products li {
  margin-left: 3.25rem;
}
.sub-menu__list-products li p {
  width: 13.5rem;
}

.sub-sub-menu__list {
  display: none;
}

.sub-sub-menu__list {
  display: grid;
  grid-template-columns: repeat(5, 4.25rem);
  grid-auto-rows: auto;
  column-gap: 2.375rem;
  row-gap: 1.5625rem;
  justify-content: center;
  position: absolute;
  width: 33.8125rem;
  height: 33.75rem;
  top: 2.1875rem;
  left: 100%;
  padding: 2rem 1.5625rem;
  border: solid 1px black;
}
.sub-sub-menu__list img {
  height: 68px;
  width: 68px;
  border: solid 2px black;
}
.sub-sub-menu__list li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sub-sub-menu__list p {
  font-size: 0.875rem;
}

.sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

.sub-menu__link {
  position: relative;
  color: #101828;
  min-width: 10.625rem;
  display: inline-block;
  padding: 0.625rem 1.875rem 0.625rem 0.625rem;
}

.sub-menu__link p {
  color: #475467;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  padding: 0.625rem 0.3125rem 0 0;
  margin: 0;
  width: 14rem;
}

.user-actions__sign-up {
  padding: 0.5rem 1.375rem;
  color: #0153C0;
  border: solid 0.125rem #0153C0;
  border-radius: 0.25rem;
}

.user-actions__log-in {
  color: #0C111D;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 0.5rem 0.875rem;
  margin-right: 0.625rem;
}

.menu__item:hover .menu__link::after {
  transform: rotate(-180deg);
}

.menu__item:hover .menu__link {
  color: #7687A0;
}

@media (max-width: 768px) {
  .menu,
  .slogan__header {
    display: none;
  }
  .container {
    border-bottom: solid 0.0625rem #f7f2f7;
  }
  .burger-label::after, .burger-label::before, .burger-label span {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
