html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: white;
  color: #475467;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  min-height: 5rem;
  border: solid 0.0625rem #F2F4F7;
  padding: 0 7rem;
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu__list {
  display: flex;
  position: relative;
  gap: 0 2rem;
}

.menu__list > li:hover .sub-menu__list {
  display: block;
}

.menu__link {
  padding-bottom: 2.1875rem;
}

.user__actions {
  display: flex;
}

.user-actions__sign-up {
  padding: 0.5rem 1.375rem;
  color: #0153C0;
  border: solid 0.125rem #0153C0;
  border-radius: 0.25rem;
}

.user-actions__log-in {
  color: #0C111D;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: 0.5rem 0.875rem;
  margin-right: 0.625rem;
}

.slogan__header span {
  position: relative;
  display: block;
  font-size: 0.6875rem;
  text-transform: uppercase;
  width: 3.0625rem;
  height: 1.5rem;
  left: 2.1875rem;
}

.slogan__header span::before {
  position: absolute;
  content: "";
  left: -1.875rem;
  height: 1.3125rem;
  width: 1.5625rem;
  top: 0.125rem;
  background-image: url("../image/header-heart.svg");
}

.sub-menu__list {
  position: absolute;
  padding: 2rem 1.25rem 1.25rem 4.5rem;
  top: 3.25rem;
  min-width: 21rem;
  border-radius: remy(6);
  box-shadow: 0 remy(4) remy(6) rgba(16, 24, 40, 0.031372549);
  border: solid 0.0625rem #EAECF0;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: none;
}

.sub-menu__list-about {
  display: none;
  height: max-content;
  min-width: 40rem;
  padding: 1.25rem;
  columns: 2;
}

.sub-menu__list-about:hover {
  display: block;
}

.sub-menu__list-about li {
  background-clip: content-box;
  padding-left: 2.8125rem;
}

.sub-menu__link {
  color: #101828;
  min-width: 10.625rem;
  display: inline-block;
  padding: 0.625rem 1.875rem 0.625rem 0.625rem;
}

.sub-menu__link p {
  color: #475467;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  padding: 0.625rem 0.3125rem 0 0;
  margin: 0;
  width: 14rem;
}

.sub-menu-icon-position::before {
  position: absolute;
  display: block;
  content: "";
  left: 2.1875rem;
}

.sub-menu__premium::before {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("/image/solution-premium.svg");
}

.sub-menu__unmanaged::before {
  height: 1.25rem;
  width: 19px;
  background-image: url("/image/solution-unmanaged.svg");
}

.sub-menu__privat::before {
  height: 1.25rem;
  width: 1.125rem;
  background-image: url("/image/solution-privat.svg");
}

.sub-menu__cloud::before {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("/image/products-cloudhosting.svg");
}

.sub-menu__collaborate::before {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("/image/products-collaborate.svg");
}

.sub-menu__compute::before {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("/image/products-compute.svg");
}

.sub-menu__database::before {
  height: 1.5rem;
  width: 1.5rem;
  background-image: url("/image/products-database.svg");
}

.sub-menu__about::before {
  height: 1.25rem;
  width: 1.25rem;
  background-image: url("/image/about-about.svg");
}

.sub-menu__blog::before {
  height: 1.125rem;
  width: 1.125rem;
  background-image: url("/image/about-blog.svg");
}

.sub-menu__security::before {
  height: 22px;
  width: 18px;
  background-image: url("/image/about-security.svg");
}

.sub-menu__brand::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/about-brand.svg");
}

.sub-menu__contact::before {
  position: absolute;
  display: block;
  content: "";
  left: 20.9375rem;
  height: 1.125rem;
  width: 1.125rem;
  background-image: url("/image/about-contact.svg");
}

.sub-menu__open::before {
  position: absolute;
  display: block;
  content: "";
  left: 335px;
  height: 24px;
  width: 24px;
  background-image: url("/image/about-openSource.svg");
}

.sub-menu__legal::before {
  position: absolute;
  display: block;
  content: "";
  left: 335px;
  height: 24px;
  width: 24px;
  background-image: url("/image/about-legal.svg");
}

.sub-menu__careers::before {
  position: absolute;
  display: block;
  content: "";
  left: 335px;
  height: 24px;
  width: 24px;
  background-image: url("/image/about-careers.svg");
}

.sub-menu__customer::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/support-support.svg");
}

.sub-menu__community::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/support-community.svg");
}

.sub-menu__join::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/support-join.svg");
}

.sub-sub-menu__list {
  position: absolute;
  max-width: 33.8125rem;
  height: 33.75rem;
  top: 0;
  left: 100%;
  padding: 0 0 0;
}

.sub-sub-menu__list {
  display: none;
}

.sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

.sub-sub-menu__list > ul {
  display: flex;
  background: #F9FAFB;
}

.sub-sub-all-products__link::after {
  position: absolute;
  display: block;
  content: "";
  height: 15px;
  width: 15px;
  background-image: url("/image/Icon-arrow.svg");
}

.menu__link__solution,
.menu__link__about,
.menu__link__products,
.menu__link__support {
  position: relative;
  padding-right: 2rem;
}

.menu__link__solution::after,
.menu__link__about::after,
.menu__link__products::after,
.menu__link__support::after {
  position: absolute;
  content: "";
  top: 7px;
  right: 9px;
  width: 12px;
  height: 8px;
  background-image: url("../image/arrow-Icon.svg");
}

.menu__item:hover .menu__link::after {
  transform: rotate(-180deg);
}

.menu__item:hover .menu__link {
  color: #7687A0;
}

/*# sourceMappingURL=style.css.map */
