:root{
  --main-blue-color: #0153C0;
  --main-sub-menu-border-color:#EAECF0;
  --main-border:  solid remy(2) var(--main-blue-color);
  --main-border-radius: remy(4);
}

@function remy($pxsize){
  @return calc(($pxsize)/16)+rem;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

body {
  background-color: #FFFFFFFF;
  color: #475467;
  font-family: 'Roboto', sans-serif;
  font-size: remy(16);
  font-weight: 500;
}

.container {
  max-width: remy(1440);
  margin: 0 auto;
  min-height: remy(80);
  border: solid remy(1) var(--main-sub-menu-border-color);
  padding: 0 remy(112);
}

.header__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.menu__list {
  display: flex;
  align-items: center;
  position: relative;
  gap: 0 remy(32);
}

.menu__list > li:hover .sub-menu__list {
  display: block;
}

.menu__link {
  padding-bottom: remy(35);
}

.user__actions {
  display: flex;
}

.user-actions__sign-up {
  padding: remy(8) remy(22);
  color: var(--main-blue-color);
  border: var(--main-border);
  border-radius: var(--main-border-radius);
}

.user-actions__log-in {
  color: #0C111D;
  display: flex;
  align-items: center;
  font-weight: 400;
  padding: remy(8) remy(14);
  margin-right: remy(10);
}

.slogan__header span {
  position: relative;
  display: block;
  font-size: remy(11);
  text-transform: uppercase;
  width: remy(49);
  height: remy(24);
  left: remy(35);
}

.slogan__header span::before {
  position: absolute;
  content: '';
  left: remy(-30);
  height: remy(21);
  width: remy(25);
  top: remy(2);
  background-image: url("../image/header-heart.svg");
}

.sub-menu__list {
  position: absolute;
  padding: remy(32) remy(20) remy(20) remy(72);
  top: remy(52);
  width: remy(336);
  border-radius: remy(6);
  box-shadow: 0 remy(4) remy(6) #10182808;
  border: var(--main-border);
  //display: none;
}


.sub-menu__list-solution {
  left: remy(-95);
}

.sub-menu__list-support {
  margin: 0 auto;
  left: 0;
  right: 0;
}

.sub-menu__list-about {
  display: none;
  height: max-content;
  width: remy(640);
  padding: remy(20);
  columns: 2;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.sub-menu__list-about:hover {
  display: block;
}

.sub-menu__list-about li {
  background-clip: content-box;
  padding-left: remy(45);
}

.sub-menu__list-products{
  margin: 0 auto;
  left: 0;
  right: 0;
}

.sub-menu__link {
  color: #101828;
  min-width: remy(170);
  display: inline-block;
  padding: remy(10) remy(30) remy(10) remy(10);
}

.sub-menu__link p {
  color: #475467;
  font-size: remy(14);
  line-height: remy(20);
  font-weight: 400;
  padding: remy(10) remy(5)  0 0;
  margin: 0;
  width: remy(224);
}

.sub-menu-icon-position::before {
  position: absolute;
  display: block;
  content: '';
  left: remy(35);
}

.sub-menu__premium::before {
  height: remy(24);
  width: remy(24);
  background-image: url("/image/solution-premium.svg");
}

.sub-menu__unmanaged::before {
  height: remy(20);
  width: 19px;
  background-image: url("/image/solution-unmanaged.svg");
}

.sub-menu__privat::before {
  height: remy(20);
  width: remy(18);
  background-image: url("/image/solution-privat.svg");
}

.sub-menu__cloud::before {
  height: remy(24);
  width: remy(24);
  background-image: url("/image/products-cloudhosting.svg");
}

.sub-menu__collaborate::before {
  height: remy(24);
  width: remy(24);
  background-image: url("/image/products-collaborate.svg");
}

.sub-menu__compute::before {
  height: remy(24);
  width: remy(24);
  background-image: url("/image/products-compute.svg");
}

.sub-menu__database::before {
  height: remy(24);
  width: remy(24);
  background-image: url("/image/products-database.svg");
}

.sub-menu__about::before {
  height: remy(20);
  width: remy(20);
  background-image: url("/image/about-about.svg");
}

.sub-menu__blog::before {
  height: remy(18);
  width: remy(18);
  background-image: url("/image/about-blog.svg");
}

.sub-menu__security::before {
  height: 22px;
  width: 18px;
  background-image: url("/image/about-security.svg");
}

.sub-menu__brand::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/about-brand.svg");
}

.sub-menu__contact::before {
  position: absolute;
  display: block;
  content: '';
  left: remy(335);
  height: remy(18);
  width: remy(18);
  background-image: url("/image/about-contact.svg");
}

.sub-menu__open::before {
  position: absolute;
  display: block;
  content: '';
  left: 335px;
  height: 24px;
  width: 24px;
  background-image: url("/image/about-openSource.svg");
}

.sub-menu__legal::before {
  position: absolute;
  display: block;
  content: '';
  left: 335px;
  height: 24px;
  width: 24px;
  background-image: url("/image/about-legal.svg");
}

.sub-menu__careers::before {
  position: absolute;
  display: block;
  content: '';
  left: 335px;
  height: 24px;
  width: 24px;
  background-image: url("/image/about-careers.svg");
}

.sub-menu__customer::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/support-support.svg");
}

.sub-menu__community::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/support-community.svg");
}

.sub-menu__join::before {
  height: 24px;
  width: 24px;
  background-image: url("/image/support-join.svg");
}

.sub-sub-menu__list {
  position: absolute;
  max-width: remy(541);
  height: remy(540);
  top: 0;
  left: 100%;
  padding: 0 0 0;
}

.sub-sub-menu__list{
  display: none;
}

.sub-menu__list > li:hover .sub-sub-menu__list {
  display: block;
}

.sub-sub-menu__list > ul {
  display: flex;
  background: #F9FAFB;

}

.sub-sub-all-products__link::after {
  position: absolute;
  display: block;
  content: '';
  height: 15px;
  width: 15px;
  background-image: url("/image/Icon-arrow.svg");
}

.menu__link__solution,
.menu__link__about,
.menu__link__products,
.menu__link__support {
  position: relative;
  padding-right: remy(32);
}

.menu__link__solution::after,
.menu__link__about::after,
.menu__link__products::after,
.menu__link__support::after {
  position: absolute;
  content: '';
  top: 7px;
  right: 9px;
  width: 12px;
  height: 8px;
  background-image: url("../image/arrow-Icon.svg");
}


.menu__item:hover .menu__link::after {
  transform: rotate(-180deg);
}

.menu__item:hover .menu__link{
  color: #7687A0;
}

